
########### Node ###########
*node_modules
*logs
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

########### MAC ###########
*.DS_Store

########### Vim ###########
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

########### VSCode ###########
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

########### WebStorm ###########
*.idea

########### Egret ###########
*.wing
*/bin-release
*/bin-debug

########### Linux ###########
*.*~

########### Hagan ###########
/dist





